@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
}
h1,
h2,
h3,
p {
  color: white;
}
h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: "Merriweather";
  font-size: 3rem;
}
.input-field {
  display: flex;
  justify-content: space-evenly;
}
input {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  font-size: 7rem;
  text-align: center;
  border: 3px solid gray;
  color: white;
  background-color: black;
}
.input-entered {
  background-color: green;
}
.input-blank {
  background-color: black;
}
button {
  width: 16rem;
  height: 4rem;
  background-color: gray;
  border: none;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}
.search-button {
  margin-top: 2.6rem;
  margin-bottom: 2rem;
}
.filter-button {
  margin-top: 0.5rem;
  background-color: rgb(16, 81, 221);
}
.nonexistent-letter-list {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.existent-letter-list {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.word-list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.each-word {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
  .header {
    transition: 600ms;
  }
  .not-searched {
    margin-top: 8rem;
  }
  .searched {
    margin-top: 2rem;
  }
  h1 {
    margin-top: 2rem;
  }
  h2 {
    margin-bottom: 0px;
  }
  .input-field {
    width: 80%;
    margin: 0 auto;
  }
  input {
    width: 20%;
    height: 2.4rem;
    margin: 0.2rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .nonexistent-letter-list {
    width: 90%;
    margin-bottom: 2rem;
  }
  .existent-letter-list {
    width: 90%;
  }
  .word-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .each-word {
    margin: 0.8rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
}
@media only screen and (min-width: 600px) {
  button:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
  }
  .header {
    transition: 600ms;
  }
  .not-searched {
    margin-top: 12rem;
  }
  .searched {
    margin-top: 2rem;
  }
}
