.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
}
h1,
h2,
p {
  color: white;
}
h1 {
  margin-top: 5rem;
}
.input-field {
  display: flex;
  justify-content: space-evenly;
}
input {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  font-size: 7rem;
  text-align: center;
  border: 3px solid gray;
  color: white;
  background-color: black;
}
button {
  width: 16rem;
  height: 4rem;
  background-color: gray;
  border: none;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}
.search-button {
  margin-top: 1.2rem;
}
.filter-button {
  margin-top: 0.5rem;
  background-color: rgb(16, 81, 221);
}
.letter-list {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.word-list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.each-word {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
  h1 {
    margin-top: 2rem;
  }
  h2 {
    margin-bottom: 0px;
  }
  input {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.5rem;
    font-size: 2rem;
    text-align: center;
    border: 2px solid gray;
    color: white;
    background-color: black;
  }
  .letter-list {
    width: 90%;
  }
}
@media only screen and (min-width: 600px) {
  button:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
  }
}
