@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Rajdhani:wght@300&display=swap");
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
}
h1,
h2,
h3,
p {
  color: white;
}
h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: "Merriweather";
  font-weight: 900;
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
  font-family: "Merriweather";
}
.only-yellows-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-field {
  display: flex;
  justify-content: space-evenly;
}
input {
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  font-size: 6rem;
  text-align: center;
  border: 2px solid gray;
  border-radius: 0;
  color: white;
  background-color: black;
  caret-color: transparent;
}
input:focus {
  border-radius: 0;
  outline-color: #548c4c;
  caret-color: transparent;
}
.input-entered {
  background-color: #548c4c;
  border: 2px solid #548c4c;
  border-radius: 0;
}
.input-blank {
  background-color: black;
}
.toggle-yellow-green-button {
  text-decoration: underline;
  margin-top: 1rem;
}
button {
  width: 19rem;
  height: 4rem;
  background-color: gray;
  border: none;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}
.search-button {
  margin-top: 2.6rem;
  margin-bottom: 2rem;
}
.filter-button {
  margin-top: 0.5rem;
  background-color: rgb(16, 81, 221);
}
.nonexistent-letter-list {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.existent-letter-list {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.word-list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.each-word {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  font-size: 1.2rem;
}
.footer-note {
  font-family: "Rajdhani", sans-serif;
  margin-top: 4rem;
}
.footer-fixed {
  position: fixed;
  bottom: 0;
}
.git-hub-link {
  color: white;
}
@media only screen and (max-width: 600px) {
  .header {
    transition: 600ms;
  }
  .not-searched {
    margin-top: 6rem;
  }
  .searched {
    margin-top: 2rem;
  }
  h1 {
    margin-top: 2rem;
  }
  h2 {
    margin-bottom: 0px;
  }
  .input-field {
    width: 80%;
    margin: 0 auto;
  }
  input {
    width: 20%;
    height: 2.6rem;
    margin: 0.2rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .search-button {
    margin-top: 1.6rem;
    margin-bottom: 2rem;
  }
  .nonexistent-letter-list {
    width: 95%;
    margin-bottom: 2rem;
  }
  .existent-letter-list {
    width: 95%;
  }
  .word-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .each-word {
    margin: 0.8rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 6rem;
  }
  button:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
  }
  .header {
    transition: 600ms;
  }
  .not-searched {
    margin-top: 12rem;
  }
  .searched {
    margin-top: 2rem;
  }
  .only-yellows:hover {
    color: #b49c3c;
    cursor: pointer;
  }
  .have-greens:hover {
    color: green;
    cursor: pointer;
  }
}
